*,
::before,
::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.7rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --fw-light: 200;
    --fw-regular: 400;
    --fw-semibold: 600;

    --fs-200: 1rem;
    --fs-400: 1.5rem;
    --fs-600: 2.2rem;

    --mh-clr: hsl(234, 12%, 34%);
    --para-clr: hsl(229, 6%, 66%);

    --clr-cyan: hsl(180, 62%, 55%);
    --clr-red: hsl(0, 78%, 62%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
}

header {
    margin: 0 auto;
    max-width: 550px;
    text-align: center;
    margin-block: 6rem;
}
h1 {
    line-height: 2.9rem;
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
    color: var(--mh-clr);
}
h1 span {
    font-weight: var(--fw-semibold);
}
header p {
    font-size: ver(--fs-400);
    color: var(--para-clr);
}

.wrapper-main {
    --gap: 2rem;
    margin: 0 auto;
    width: 70%;
    display: flex;
    align-items: center;
    gap: var(--gap);
    margin-bottom: 5rem;
}
.flex-cols {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--gap);
}
.col-cards {
    border-top: 3px solid;
    padding: 1.9rem;
    border-radius: .25rem;
    box-shadow: 0 1rem 1rem -.5rem rgba(0, 0, 0, 0.2);
}
.col-cards:hover { 
    transition: .25s;
    box-shadow: 0 1rem 1rem -.5rem rgba(49, 49, 49, 0.2);
}
.border-cyan {
    transition: .25s;
    border-top: 3px solid var(--clr-cyan);
}
.border-red {
    transition: .25s;
    border-top: 3px solid var(--clr-red);
}
.border-orange {
    transition: .25s;
    border-top: 3px solid var(--clr-orange);
}
.border-blue {
    border-top: 3px solid var(--clr-blue);
}
h2 {
    font-size: var(--fs-400);
    color: var(--mh-clr);
}
.col-cards p {
    font-size: var(--fs-200);
    color: var(--para-clr);
}
img {
    float: right;
}
footer p {
    text-align: center;
    color: var(--para-clr);
}
footer p a {
    color: hsl(0, 0%, 23%);
}
footer p a:hover {
    transition: .35s;
    text-decoration: none;
    color: hsl(0, 0%, 15%);
}
@media only screen and (min-width:280px) {
.wrapper-main {
    flex-direction: column;
}
}
@media only screen and (min-width:360px) {
.wrapper-main {
    flex-direction: column;
}
}
@media only screen and (min-width:430px) {
.wrapper-main {
    flex-direction: column;
}
}
@media only screen and (min-width:768px) {
.wrapper-main {
    flex-direction: column;
}
}
@media only screen and (min-width:1024px) {
.wrapper-main {
    flex-direction: column;
} 
}
@media only screen and (min-width:1280px) {
.wrapper-main {
    flex-direction: row;
} 
}
@media only screen and (min-width:1440px) {
.wrapper-main {
    flex-direction: row;
} 
}